:root {
    --cor-primaria: #f2b0d1;
    --cor-secundaria: #ff69b6;
    --cor-fundo: #FFFFFF;
    --cor-texto: #ec04a7;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;
}

.tema-escuro{
    --cor-primaria: #fdafd6;
    --cor-secundaria: #ff69b6;
    --cor-fundo: #FFFFFF;
    --cor-texto: #ec04a7;
    --cor-contraste: #f80864;
    --cor-botao: #f9f9f9;
}

body{
    max-width: 100vw;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border: 5px #ec04a7;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;

    border: 1px solid var(--cor-primaria);

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}